.css-1byr0t{
    background: #111116;
}
.explore{
    position: relative;
  width: 50%;
}
.explore-image {
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 23px;
    right: 0;
    height: 86%;
    width: 87%;
    opacity: 0;
    border-radius: 10px;
    transition: .5s ease;
    background-color: #19192197;
  }
  
  .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 21%;
    left: 32%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
  }
  .FormBtn{
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .CloseButton {
    cursor: pointer;
    margin: 5px;
  }
  .formTopbtn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-file-container {
    max-width: 400px;
    margin: 0 auto;
  }
  .formHeadBtn{
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  }