@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

* {
  font-family: 'Space Grotesk', sans-serif;
}
.css-1byr0t {
  background: #111116;
}
.explore {
  position: relative;
  width: 50%;
  font-family: 'Space Grotesk', sans-serif;
}
.explore-image {
  display: block;
  width: 100%;
}

.css-vluhx3-MuiPaper-root-MuiCard-root {
  background-color: #111116;
}

.css-1wzzcsg-MuiGrid-root > .MuiGrid-item {
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.para {
  background: #000;
  color: #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.col-md-5 {
  margin-right: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 24px;
  right: 0;
  height: 87%;
  width: 91%;

  opacity: 0;
  border-radius: 10px;
  transition: 0.5s ease;
  background-color: #19192197;
}

.overlay {
  opacity: 1;
}

.gold {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.text {
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 44%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-42%, -50%);
  text-align: center;
  padding: 10px;
}
.FormBtn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.CloseButton {
  cursor: pointer;
  margin: 5px;
}
.formTopbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-file-container {
  max-width: 400px;
  margin: 0 auto;
}
.formHeadBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .ValueCard{
  position: relative;
  width:100%;
  height: 100%;
}
.ValueCardBtn{
  position: absolute;
  left:77px;
  top: 205px;
} */

.loginform {
  display: flex;
  justify-content: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  align-items: center;
  height: 100vh;
  overflow: auto;
  background-color: #111116;
}
.registerform {
  display: flex;
  justify-content: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  align-items: center;
  /* height: 100vh; */
  overflow: auto;
  background-color: #111116;
}

html {
  background-color: #111116;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}

.container-wrapper {
  padding: 3em;
  margin: 3em;
  width: max-content;
  height: max-content;
  /* background-color: #f4b6b6aa; */
  background-color: #ccc;
  border-radius: 30px;
}

.login-text {
  text-align: center;
  font-size: 2em;
  margin-top: -2%;
}

#fileUpload {
  display: none;
}

.item {
  padding: 0.2em;
}

.container-wrapper label,
button {
  padding: 0.2em;
}

.submit {
  text-align: center;
  margin-top: 10px;
}

.submit button {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 4.7em;
  border: none;
  width: 100%;
  background-color: #fabb04;
  font-size: 18px;
  color: #111116;
}

.submit button:hover {
  background-color: #fabb04;
  cursor: pointer;
  box-shadow: #b5b6fb;
}

form {
  margin: 2em auto 2em auto;
}

.input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin: 5px;
  width: -webkit-fill-available;
}

.input:focus-visible {
  outline: 3px solid #fabb04;
}

.remember {
  font-size: normal;
  margin-left: 5%;
  display: inline-block;
  margin-top: 17px;
}

.ac {
  display: inline-block;
  font-size: medium;
  margin-top: 10px;
  text-align: center;
}

.ac a {
  text-decoration: underline;
  color: #3a2d2d;
}

.ac-logo {
  padding: 5px;
  size: 20px;
}

#toc {
  display: inline-block;
  margin-top: 10px;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
}

.container h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.container h2 span {
  background-color: #ff8080;
  padding: 0 10px;
}

.social-mediaImg {
  width: 48px;
}

.contentspan {
  color: #fabb04;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.bannerimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannergirl {
  width: 65%;
}
/* slider */
.slidemain {
  font-family: sans-serif;
  text-align: center;
}

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  font-size: 40px;
  text-align: center;
}
.scroller > span {
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 10s infinite;
  font-weight: bold;
  color: #fabb04;
  text-align: left;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background: linear-gradient(270deg, #DFCA77, #fabb04);
  margin-bottom: 25px;
}

.img-wrap{
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.img-upload:before{
  content: "upload";
  font-size: 20px;
  position: absolute;
  padding-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}
.img-upload:hover:before{
 opacity: 1;
}
.profileCardimage{
  width: auto;
  height: 100%;
}
@keyframes slide {
  0% {
    top: 0;
  }
  15% {
    top: -1.2em;
  }
  30% {
    top: -2.4em;
  }
  45% {
    top: -3.6em;
  }
  60% {
    top: -4.8em;
  }
  75% {
    top: -6em;
  }
}

@media only screen and (max-width: 500px) {
  .container-wrapper {
    padding: 2em;
    margin: 1em;
  }
  .overlay {
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 23px;
    right: 0;
    height: 87%;
    width: 93%;
    opacity: 0;
    border-radius: 10px;
    transition: 0.5s ease;
    background-color: #19192197;
  }
  .overlay {
    opacity: 1;
  }
  .login-text {
    font-size: 1.5em;
  }

  .item {
    padding: 0.1em;
    text-align: center;
  }

  .container-wrapper label,
  button {
    padding: 0.1em;
  }

  .submit {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .submit button {
    padding: 0.5em 1em;
    border-radius: 4.7em;
    font-size: 14px;
  }

  form {
    margin: 1em auto 1em auto;
  }

  .input {
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
  }

  .remember {
    font-size: smaller;
    margin-left: 6em;
  }

  .ac {
    font-size: small;
  }

  #toc {
    font-size: small;
  }

  .social-mediaImg {
    width: 40px;
  }
  .container h2 span {
    font-size: medium;
  }

  /* .ValueCard{
    position: relative;
    width:100%;
    height: 100%;
  }
  
  .ValueCardBtn {
    position: absolute;
    top: 192px;
    left: 149px;
} */

  /* modal */
  .css-1yd8pjp {
    width: 95%;
  }
}
